doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/style.min.css')
  link(rel='icon' type='image/svg' href='img/svg/logo.svg')
  
  meta(name='og:title' content='WayMaker')
  meta(name='og:description' content='Interactive stories with episodes in reality')
  meta(name='og:url' content='https://waym.app')
  meta(name='og:image' content='https://s3.eu-north-1.amazonaws.com/waym.app/promo.png')
  meta(name='twitter:image' content='https://s3.eu-north-1.amazonaws.com/waym.app/promo.png')
  meta(name='twitter:card' content='summary_large_image')
  meta(property='og:type' content='article' data-rh="true")
  meta(name='twitter:description' content='Interactive stories with episodes in reality')
  meta(name='twitter:title' content='WayMaker')
  meta(property='og:site_name' content='WAYM.APP')
  
  title WayMaker
  block vars
  block customStyles
  
body
  include header
  block content
  include footer
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='js/script.min.js')
