.activity
  h2.activity__title.container
    | Всё так, 
    br
    | это не шутки 😈 
    br
    | Смотри сам: 
  
  .activity__wrapper
    .activity__opportunity-wrapper
      .activity__opportunity
        p Возможность прожить  
        br
        | в реальности сюжет  
        br
        | который давно хотел. 
        p Ты сам выбираешь, 
        br
        | что тебе подойдет 
      img.activity__opportunity-wrapper-bg(src="./img/video-block-bg.png", alt="парень")

    .activity__send-us-wrapper
      .activity__send-us
        | Написать свой квест 
        br
        | и заработать на этом. 
        br
        | Если ты напишешь 
        br
        | интересный квест —  
        br
        | сразу 
        br
        | переведём 
        br
        | деньги!
