.activity
  h2.activity__title.container.wrapper(text="activityTitle")
    | Всё так, 
    br
    | это не шутки 😈 
    br
    | Смотри сам: 
  
  .activity__wrapper.wrapper
    .activity__opportunity-wrapper
      .activity__opportunity-text
        p(text="abilityToLive") Возможность прожить 
          br
          | в реальности сюжет  
          br
          | который давно хотел. 
        br
        p(text="youChoose") Ты сам выбираешь, 
          br
          | что тебе подойдет 
      .media-wrapper
        //- picture
        //-   source(srcset="./img/activity-bg-768.png", alt="парень", media="(min-width: 768px")
        //-   img.activity__opportunity-wrapper-bg(src="./img/activity-bg-320.png", alt="парень")
        .media-wrapper__video
          video.activity__opportunity-wrapper-bg(autoplay, muted, loop, playsinline, preload="auto", src="./media/b2c-bg.mp4", type="video/mp4", width="360", height="640")

    .activity__send-us-wrapper
      .activity__send-us(text="activitySendUs")
        | Написать свой квест 
        br
        | и заработать на этом. 
        br
        | Если ты напишешь 
        br
        | интересный квест —  
        br
        | сразу 
        br
        | переведём 
        br
        | деньги!
