-
  var examplesData = [
     {title: "Интересные места Смоленска", description: "Невероятная история про гиперреальность. Погрузись в нашу «матрицу» и помоги спасти мир!", image: "./img/preview-image-1.png"},
    {title: "Перед лицом пандемии", description: "Вам удалось перенестись в начало 2019, когда мир ещё не знал о слове COVID-19. Предотвратишь пандемию?", image: "./img/preview-image-1.png"}
  ]

.examples-wrapper
  .examples
    .examples__title !{examplesTitle}
    .content__wrapper
      for i in examplesData
        .content__preview.content__preview--home
          img.content__preview-image(alt="Превью квеста", src=i.image)
          h3.content__preview-title !{i.title}
          p.content__preview-text !{i.description}
    a.content-link(href="https://waym.app/") Перейти ко всем квестам
