form.footer__feedback.feedback
  fieldset
    input.feedback__input(type='text' placeholder='Имя')
    input.feedback__input(type='text' placeholder='Вопрос, предложение')
    input.feedback__input(type='email' placeh='' older='Email')
    .feedback__capcha
      input.feedback__capcha-input(type='text' placeholder='Код с картинки')
      .feedback__capcha-window
    button.feedback__submit(type='submit')
      span.feedback__submit-name Отправить
