form#send-us.footer__feedback.feedback
  fieldset
    input.feedback__input(type='text' placeholder='Имя', required, maxlength="50", name="userName", autocomplete="off")
    textarea.feedback__input(type='text' placeholder='Вопрос, предложение', required, maxlength="1000", name="userFeedback", autocomplete="off")
    input.feedback__input(type='email' placeholder='Email', required, maxlength="50", name="userEmail", autocomplete="email")
    //- .feedback__capcha
    //-   input.feedback__capcha-input(type='text' placeholder='Код с картинки', required, maxlength="10")
    //-   .feedback__capcha-window
    button.feedback__submit(type='submit')
      span.feedback__submit-name Отправить
