.footer(class=pageClass)
  .container 
    svg.footer__logo-icon.logo-icon(width="64",height="64")
      use(xlink:href="img/sprite.svg#dark-logo")
    include bottom-navigation
    include links
  include feedback-form
  .footer__copyright
    p  © 2021 WayMaker.
      br
      | Все права защищены
