.language-switcher
  button.language-switcher-button.language-switcher-button--active.language-switcher-button--ru(type='button') RU
  span /
  button.language-switcher-button.language-switcher-button--en(type='button') EN
