-
  var sliderVideos = [
    {src: "./media/slider.mp4", poster: "./img/get_coffee.png"},
  ]

  var sliderDescriptions = [
    {description: "Напишем уникальный квест специально для вас"},
    {description: "Игры приносят положительные эмоции,&nbsp;<br>из-за чего растет средний чек"},
    {description: "Квест умеет определять локацию игрока <br> — можем привести его к вам!"},
    {description: "Обыграем особенности локации, и создадим <br> дополнительную стоимость без вложений в инфраструктуру"}
  ]


.slider-wrapper
  .wrapper
    .slider
      .slider__videos
        for i, index in sliderVideos
          video.slider__video.video__media(muted, loop, poster=i.poster, class=(index === 0) ? "slider__video--current" : "")
            source(src=i.src)

      ul.slider__descriptions
        for i, index in sliderDescriptions
          li.slider__description(class=(index === 0) ? "slider__description--current" : "") !{i.description}
