.suggestion
  .suggestion__wrapper
    .suggestion__text
      p Напишем уникальный 
        br
        | квест специально для вас  
      br
      p Игры приносят 
        br 
        | положительные эмоции, 
        br
        | из-за чего растет средний чек 
    img.suggestion__bg(src="./img/video-block-bg.png", alt="парень")
