nav.top-navigation
  ul.top-navigation__list
    for i in topNavLinks
      li.top-navigation__item
        a(href=i.link, text=i.key).top-navigation__link #{i.name}
    li.top-navigation__item.top-navigation__language-switcher
      include language-switcher
    li.top-navigation__item
      span(text="canDownload") можно скачать:
      a.top-navigation__market-link.market-link(href="https://apps.apple.com/ru/app/waym/id1584818031")
        svg.market-icon(width="24", height="24")
          use(xlink:href="img/sprite.svg#appstore")
      a.top-navigation__market-link.market-link(href="https://play.google.com/store/apps/details?id=ru.waymaker.app&hl=ru")
        svg.market-icon(width="24", height="24")
          use(xlink:href="img/sprite.svg#googleplay")
