.content__title {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
  padding-bottom: 20px;
}

.content__description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba($basic-white, 0.5);
  margin: 0;
  padding-bottom: 32px;
}

.content__title,
.content__description {
  padding-right: 32px;
}

.content {
  padding-top: 48px;
  padding-bottom: 32px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  z-index: 30;
  margin-top: -30px;
  background-color: $basic-black;
}

.content .container {
  padding-right: 0;
}

.content__data {
  display: flex;
  margin-bottom: 32px;
}

.content-item {
  width: 256px;
  height: 320px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  margin-right: 8px;
}

.content-item::after {
  content: "";
  background: linear-gradient(116.95deg, #e64445 0%, #7356bf 100%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-item .content-item__body {
  background-color: $basic-black;
  position: absolute;
  z-index: 2;
  width: 252px;
  height: 316px;
  top: 2px;
  left: 2px;
  border-radius: 16px;
}

.content__wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

@media (min-width: $desktop-width) {
  .content__title {
    font-size: 48px;
    line-height: 52px;
  }

  .content__title,
  .content__description {
    padding-right: 0;
  }

  .content__title br {
    display: none;
  }

  .content {
    padding-top: 120px;
    padding-bottom: 80px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-top: -90px;
  }

  .content__description {
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 80px;
  }

  .content-item {
    margin-right: 0;
  }

  .content__data {
    display: grid;
    margin-bottom: 48px;
    column-gap: 48px;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
  }

  .content-item.content-item--text {
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    width: 784px;
    height: 400px;
  }

  .content-item.content-item--text::after {
    content: "";
    background: linear-gradient(116.95deg, #e64445 0%, #7356bf 100%);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .content-item--text .content-item__body {
    background-color: $basic-black;
    position: absolute;
    z-index: 2;
    width: 779px;
    height: 396px;
    top: 2px;
    left: 2px;
    border-radius: 24px;
  }

  .content-item.content-item--title {
    border: 2px solid $basic-white;
    width: 368px;
    height: 400px;
    border-radius: 24px;
  }

  .content-item--title .content-item__body {
    display: none;
  }

  .content-item.content-item--title::after {
    display: none;
  }

  .content__wrapper {
    flex-direction: column;
  }

  .content .container {
    padding-right: 120px;
  }
}
