.content {
  padding-top: 40px;
  padding-bottom: 52px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  z-index: 30;
  margin-top: 47px;
  background-color: $light-black;
}

.content__title {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
  padding-bottom: 40px;
}

.content__description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 24px;
}

.content__top-description {
  color: $light-pink;
}

.content__middle-description {
  color: $dark-cian;
  padding-top: 48px;
}

.content__title,
.content__description {
  padding-left: 32px;
  padding-right: 32px;
}

.content__preview {
  border-radius: 40px;
  width: 320px;
  height: 372px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.content__preview-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__image-wrapper {
  height: 320px;
  width: 100%;
  position: relative;

  @media (min-width: $desktop-width) {
    height: 320px;
  }
}

.content__image-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 180px;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);
}

.content__preview--home {
  border: 4px solid rgba(255, 55, 95, 0.25);
}

.content__preview--city {
  border: 4px solid rgba(0, 208, 255, 0.25);
}

.content__preview-title {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 16px;
  z-index: 1;
  color: $basic-white;
}

.content__preview-text {
  font-size: 16px;
  line-height: 24px;
  color: rgba($basic-white, 0.5);
  margin: 0;
  z-index: 1;
}

.content__text-wrapper {
  position: absolute;
  top: 50%;
  left: 32px;
  right: 32px;

  @media (min-width: $desktop-width) {
    left: 40px;
    right: 40px;
  }
}

.content-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgba($basic-white, 0.5);
  padding: 48px 0;
  transition: color 0.3s;
  will-change: color;

  &:hover {
    color: $basic-white;
  }
}

.content__middle-description br:nth-of-type(2) {
  display: none;
}

.content__wrapper {
  overflow-x: scroll;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-template-rows: 1fr;
  column-gap: 8px;
  row-gap: 8px;

  @media (min-width: $desktop-width) {
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 1fr;
  }
}

.content .container {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 80px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

@media (min-width: $tablet-width) {
  .content__wrapper {
    column-gap: 24px;
    row-gap: 24px;
  }

  .content {
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0;
    border-radius: 40px 40px 0 0;
  }

  .content__title {
    font-size: 48px;
    line-height: 56px;
    padding: 0;
    padding-bottom: 80px;
  }

  .content__description {
    font-size: 32px;
    line-height: 40px;
    padding: 0;
    padding-bottom: 36px;
  }

  .content__middle-description {
    padding-top: 80px;
  }

  .content__top-description br:nth-of-type(1) {
    display: none;
  }

  .content__middle-description br:nth-of-type(1) {
    display: none;
  }

  .content__middle-description br:nth-of-type(2) {
    display: block;
  }

  .content__preview {
    width: 580px;
    height: 520px;
  }

  .content__preview-image {
    width: 100%;
    height: 320px;
  }

  .content__preview-title {
    font-size: 32px;
    line-height: 40px;
  }

  .content__preview-text {
    font-size: 20px;
    line-height: 28px;
  }

  .content__preview:nth-child(2) {
    display: flex;
  }

  .content-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding-top: 75px;
  }
}

@media (min-width: $desktop-width) {
  .content__wrapper {
    overflow: auto;
  }

  .content__title {
    font-size: 80px;
    line-height: 100px;
    padding-bottom: 80px;
  }

  .content__middle-description br {
    display: none;
  }

  .content__middle-description br:nth-of-type(2) {
    display: none;
  }

  .content__middle-description {
    grid-column: 1 / -1;
    padding-top: 120px;
  }

  .content__description {
    font-size: 40px;
    line-height: 44px;
  }

  .previews__wrapper {
    margin-bottom: 80px;
    overflow-x: auto;
  }

  .content-link {
    font-size: 24px;
    line-height: 28px;
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .content {
    border-radius: 80px 80px 0 0;
  }
}
