.examples {
  background-color: $light-black;
  border-radius: 32px 32px 0 0;
  padding: 40px 32px;
  padding-bottom: 80px;
}

.examples__title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  font-family: "Play", sans-serif;
}

.examples .content__wrapper {
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: $desktop-width) {
  .examples {
    border-radius: 80px 80px 0 0;
    padding: 120px;
  }

  .examples__title {
    font-size: 80px;
    line-height: 100px;
  }

  .examples .content__wrapper {
    margin-bottom: 120px;
  }
}
