.footer {
  background-color: $basic-white;
  padding: 32px;
  padding-bottom: 48px;
  border-radius: 32px 32px 0 0;
  position: relative;
  margin-top: -20px;
  z-index: 1;
}

.footer__text {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  margin: 0;
}


.footer__copyright {
  color: rgba($light-black, 0.5);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 0 32px;
}


@media (min-width: $tablet-width) {
  .footer {
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    padding: 80px;
    padding-bottom: 40px;
  }

  .footer .container {
    padding: 0 80px;
  }

  .footer__copyright {
    padding: 0 80px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-top: 120px;
    padding-bottom: 80px;
    border-radius: 80px 80px 0 0;
    padding-left: 120px;
    padding-right: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    column-gap: 80px;
  }

  .footer__logo-icon {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .links-list:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .links-list:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .bottom-navigation {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .footer__copyright {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    padding: 0;
  }

  .footer__feedback {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  .footer__text {
    text-align: start;
  }
}
