.main-header .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-top: 32px;
}

.main-header {
  position: relative;
}

.main-header__title {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  margin-top: auto;
  font-size: 28px;
  line-height: 32px;
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-header .container {
    padding: 80px;
    padding-bottom: 0;
  }

  .main-header__title {
    font-size: 48px;
    line-height: 56px;
  }

  .header__links-wrapper {
    display: none;
  }

  .main-header__title br:nth-child(1) {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header .container {
    padding: 120px;
    padding-top: 40px;
    padding-bottom: 0;
    // height: 810px;
  }

  .main-header__title {
    font-size: 80px;
    line-height: 120px;
    padding-bottom: 0;
  }

  .main-header__title br:nth-child(2) {
    display: none;
  }
}
