.market-icon {
  fill: $basic-white;
}

.social-icon {
  fill: $basic-black;
  width: 24px;
  height: 24px;
}

.links .market-icon {
  fill: $basic-black;
}

.top-navigation__item .market-icon {
  margin-left: 24px;
}
