.language-switcher {
  display: none;
}

@media (min-width: $tablet-width) {
  .language-switcher {
    display: flex;
  }

  .language-switcher-button {
    border: none;
    background-color: transparent;
    color: rgba($basic-white, 0.5);
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    cursor: pointer;
  }

  .language-switcher span {
    color: rgba($basic-white, 0.5);
    margin: 0 8px;
    transform: translateY(4px);
  }

  .language-switcher-button--active {
    color: $basic-white;
    cursor: default;
  }
}
