.main-footer {
  background-color: $background-color-1;
  padding-top: 103px;
  padding-bottom: 155px;
}

.main-footer__text {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
