.main-navigation__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  padding-bottom: 32px; // +30 px
}

.main-navigation__item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-right: 56px;
  position: relative;
  font-size: 12px;
  line-height: 24px;
  white-space: nowrap;

  &:hover {
    color: $hover;
  }

  &:last-child {
    color: rgba($basic-white, 0.5);
    align-items: center;
    padding-right: 0;
    display: none;
  }
}

.main-navigation__item:nth-child(1)::after,
.main-navigation__item:nth-child(2)::after {
  content: "/";
  position: absolute;
  top: 0;
  right: 24px;
  color: rgba($basic-white, 0.12);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.main-navigation__item:nth-child(2)::after {
  display: none;
}

// @media (min-width: $tablet-width) {
// }

@media (min-width: $desktop-width) {
  .main-navigation__list {
    // padding-bottom: 80px;
    padding-bottom: 116px;
  }

  .main-navigation__item {
    font-size: 20px;
    line-height: 24px;

    &:last-child {
      display: flex;
    }
  }

  .main-navigation__market-link {
    margin-left: 24px;
    margin-top: 4px;
    display: block;
  }

  .main-navigation__item:nth-child(2)::after {
    display: block;
  }
}
