.main-footer {
  background-color: $basic-white;
  padding-top: 32px;
  padding-bottom: 48px;
}

.main-footer__text {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  margin: 0;
}

.main-footer__nav {
  padding: 0;
  padding-top: 48px;
}

.main-footer__nav-item {
  list-style: none;
  padding-bottom: 40px;
}

.main-footer__nav-link {
  text-decoration: none;
  color: $light-blue;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.main-footer__links {
  color: rgba($light-black, 0.5);
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.main-footer__link {
  margin-left: auto;
}

.main-footer__copyright {
  color: rgba($light-black, 0.5);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-left: 32px;
  padding-right: 32px;
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .main-footer__text {
    text-align: start;
  }
}
