.send-us-title {
  background-color: $basic-white;
  padding: 0 32px;
  padding-bottom: 48px;

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 152px;
    padding-bottom: 80px;
  }
}

.send-us-title__text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: $basic-black;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 44px;
  }
}

.send-us-title__text br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.send-us-title__link {
  color: $light-blue;
  cursor: pointer;
}
