.slider-wrapper {
  background-color: $basic-white;
}

.slider {
  display: none;
  width: 1200px;
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 48px;
}

.slider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: $light-black;
  box-shadow: 0 0 70px 120px $light-black;
}

.slider__descriptions {
  position: absolute;
  color: rgba($basic-white, 0.5);
  top: 0;
  left: 0;
  list-style: none;
  z-index: 1;
  font-size: 24px;
  line-height: 32px;
  padding: 0;
}

.slider__video {
  display: none;
  width: 1200px;
  transform: translateX(45%);
}

.slider__video--current {
  display: flex;
}

.slider__description--current {
  color: $basic-white;
}

.slider__description {
  cursor: pointer;
  transition: all 0.3s;
}

@media (min-width: $desktop-width) {
  .slider-wrapper {
    margin-top: -4px;
    padding-bottom: 10px;
  }

  .slider {
    display: block;
    border-radius: 40px;
    height: 640px;
    width: 1200px;
    margin-bottom: 0;
  }

  .slider__videos {
    height: 640px;
  }

  .slider__descriptions {
    top: 122px;
    left: 80px;
  }

  .slider__description {
    margin-bottom: 40px;
  }
}
