.slider-wrapper {
  background-color: $basic-white;
  height: 600px;
  transform: translateZ(0);
}

.slider {
  width: 100%;
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  transform: translateZ(0);
}

.slider__descriptions {
  position: absolute;
  color: rgba($basic-white, 0.5);
  list-style: none;
  z-index: 1;
  font-size: 24px;
  line-height: 32px;
  padding: 0;
  bottom: 32px;
  top: auto;
  left: 32px;
  right: 32px;
}

.slider__video {
  display: none;
}

.slider__videos {
  height: 100%;
}

.slider__video--current {
  display: flex;
}

.slider__description {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: all 0.3s;
  will-change: color;
  display: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.slider__description--current {
  color: $basic-white;
  display: block;
}

.slider::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);
}

.slider__video-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
  border-color: transparent;
  border-radius: 32px;
}

@media (min-width: $tablet-width) {
  .slider__descriptions {
    left: 80px;
  }
}

@media (min-width: $desktop-width) {
  .slider::before {
    display: none;
  }

  .slider-wrapper {
    height: 640px;
  }

  .slider {
    display: block;
    border-radius: 40px;
    width: 1200px;
    margin-bottom: 0;
  }

  .slider__descriptions {
    top: 122px;
  }

  .slider__description {
    margin-bottom: 40px;
    display: block;
    font-size: 24px;
    line-height: 32px;
  }

  .slider__video {
    transform: translateX(45%);
    width: 1200px;
  }

  .slider::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 70%;
    height: auto;
    background-color: $light-black;
    box-shadow: 0 0 70px 120px $light-black;
  }
}
