.video {
  width: 100%;
  position: absolute;
  transform: translateZ(0);
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.video__media {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
