@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Play";
  font-display: swap;
  src: url("./../fonts/play-bold.woff") format("woff"),
    url("./../fonts/play-bold.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Play";
  font-display: swap;
  src: url("./../fonts/play-regular.woff") format("woff"),
    url("./../fonts/play-regular.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto";
  font-display: swap;
  src: url("./../fonts/roboto-regular.woff") format("woff"),
    url("./../fonts/roboto-regular.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto";
  font-display: swap;
  src: url("./../fonts/roboto-medium.woff") format("woff"),
    url("./../fonts/roboto-medium.woff2") format("woff2");
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $basic-white;
  background-color: $basic-black;
  height: 100%;
  width: 100%;
}
