html,
body,
.wrapper,
.container,
.main-header {
  height: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: $desktop-width;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
  overflow: hidden;
}

@media (max-width: 320px) {
  .content .container {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}

* {
  box-sizing: border-box;
}
