html,
body,
.wrapper,
.container,
.main-header {
  height: 100%;
}

.wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.container {
  padding-left: 32px;
  padding-right: 32px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}

* {
  box-sizing: border-box;
}
