.wrapper {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    padding-left: 120px;
    padding-right: 120px;
  }
}

* {
  box-sizing: border-box;
}
