$basic-white: #ffffff;
$basic-black: #000000;
$dark-cian: #00d0ff;
$background-color-1: #28282c;
$background-color-2: #f0f0f4;
$background-color-3: #c4c4c4;
$background-color-4: #f4f4f6;
$light-black: #101010;
$light-green: #3aa76d;
$light-blue: #276ef1;
$light-pink: #ff375f;
$light-purple: #7356bf;
$light-orange: #ed6e33;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
