@import "normalize.scss";
@import "global/variables.scss";
@import "global/base.scss";
@import "global/helpers.scss";
@import "blocks/about.scss";
@import "blocks/activity.scss";
@import "blocks/bubbles.scss";
@import "blocks/content.scss";
@import "blocks/examples.scss";
@import "blocks/feedback.scss";
@import "blocks/header.scss";
@import "blocks/icons.scss";
@import "blocks/footer.scss";
@import "blocks/main-navigation.scss";
@import "blocks/main.scss";
@import "blocks/send-us-title.scss";
@import "blocks/slider.scss";
@import "blocks/terms.scss";
@import "blocks/top-title.scss";
@import "blocks/video.scss"
