extends pug/_layout.pug
block vars
  -
    var topNavLinks = [
      {link: "https://waym.app/", name: "Перейти к квестам"},
      {link: "https://waym.app/", name: "Квесты"},
      {link:"./", name:"Игрокам"}
    ]

    var bottomNavLinks = [
       {link: "https://waym.app/", name: "Перейти к квестам"}, 
       {link: "./index.html", name: "Игрокам"}, {id:"toTerms",
        link: "./terms.html", name: "Соглашения"}
    ]

    var headerTitle = 'Бизнес - как игра'
    var examplesTitle = "Примеры геймификации"
    var pageClass = 'business-page'

block customStyles
  style.
    .video {
      position: absolute;
    }

    
block content
  .main(class=pageClass)
    .top-title
      .wrapper
        h3.top-title__text.container.wrapper
          | Добавим игровые элементы в ваш 
          br
          | бизнес, тем 
          br
          | самым 
          br
          | увеличим уровень продаж, лояльность, вовлеченность 
          br
          | и узнаваемость бренда

    include pug/slider

    .send-us-title
      .wrapper
        p.send-us-title__text.container Как это сделать? Очень просто, 
          a.send-us-title__link(href="#") напишите
          |  нам! 
          br
          | Опишите пожелания к сюжету, или просто расскажите 
          br
          | про ваш бизнес - мы пришлем вам предложение за 24 часа!

    include pug/bubbles
    include pug/examples

